footer.footer
    .container
        .level
            .level-left
                .level-item
                    img(src='https://bulma.io/images/bulma-logo.png' width='112' height='28')
            .level-right
                .level-item
                    span.icon.is-large
                        i.fab.fa-twitter.fa-2x
                    span.icon.is-large
                        i.fab.fa-facebook.fa-2x
                    span.icon.is-large
                        i.fab.fa-instagram.fa-2x
                    span.icon.is-large
                        i.fab.fa-whatsapp.fa-2x
        .divider.has-text-grey-lighter(style='border-top:1px solid currentColor;padding-top:10px;')
        .level
            .level-left
                .level-item.has-text-grey
                    small Find the best products at the best price
            .level-left
                .level-item.has-text-grey
                    small= `Octolion ${new Date().getFullYear()} | All rights reserved`        